.generous-sliders {
  margin-left: -20px;
  .generous-slider-item {
    float: left;
    width: 16.66%;
    padding-left: 20px;
    margin-bottom: 20px;
    @media only screen and (max-width: 1500px) {
      width: 20%;
    }
    @media only screen and (max-width: 1200px) {
      width: 25%;
    }
    @media only screen and (max-width: 768px) {
      width: 33.33%
    }
    @media only screen and (max-width: 568px) {
      width: 50%;
    }
    @media only screen and (max-width: 400px) {
      width: 100%;
    }
    a {
      color: $color-black;
    }
    .cover-photo {
      img {
        width: 100%;
        height: auto;
      }
    }
    .details {
      width: 100%;
      background-color: $color-light-gray;
      padding: 10px;
      @include box-sizing(border-box);
      .title {
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .suggested-price {
        font-size: 14px;
      }
    }
  }
}